* {
    font-size: 24px;
}

.scrollguard-font {
    font-size: 35px;
    font-family: "Roboto Mono";
}

.scrollguard-font-h1 {
    font-size: 70px;
    font-weight: bold;
    font-family: "Roboto Mono";
}

.scrollguard-font-h2 {
    font-size: 40px;
    margin-top: -2%;
    overflow: hidden;
    border-right: .15em solid rgb(7, 5, 42);
    white-space: nowrap;
    animation: typing 2.5s steps(50, end) forwards, blinking .9s infinite;
    font-size: 1.6rem;
    width: 0;
}

.main-page-text {
    padding-top: 5%;
}

.custom-container{
    display: inline-block;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blinking {
    from { border-color: white; }
    to { border-color: rgb(7, 5, 42); }
  }