{% extends "screening_app/base.html" %}
{% block content %}
<!-- First page -->
<div class="container main-page-text">
  <p class="scrollguard-font-h1">ScrollGuard</p>
  <div class="custom-container">
    <p class="scrollguard-font-h2">Sanction screening made simple. </p>
  </div>
  <div class="container">
    <a href="{% url 'scrollguard-login' %}">
      <button type="button" class="btn btn-lg btn-light" id="btnDemo" >Try our demo</button>
    </a>
  </div>
  <div class="m-auto py-3">
    <a class="link-light" href="{% url 'scrollguard-login' %}">
      Already have an account? Log in here.
    </a>
  </div>
  
</div>

{% endblock content %}